/* body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    background-image: url(images.png.png);
    background-size:contain;
} */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blue;
    font-weight: 700;
    font-style: italic;
    text-decoration: wavy;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px rgb(239, 239, 20);
    clear: both;
    
}
#para {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
}
img {
    float: left;

}